################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Oogi2.AspNetCore.Identity/v15
/Oogi2.AspNetCore.Identity/bin/Debug/netstandard2.0
/Oogi2.AspNetCore.Identity/obj
/Oogi2.AspNetCore.Identity.Tests/obj
/Oogi2.AspNetCore.Identity.Tests/bin/Debug/netcoreapp2.0
/.vs/config
/Oogi2.AspNetCore.SampleWeb/bin/Debug/netcoreapp2.0
/Oogi2.AspNetCore.SampleWeb/obj
